.full,
.sm {
  height: 2px;
  background: var(--cream);
  border: none;
  display: block;
  box-shadow:
    2px 3px 0 0 var(--gold),
    4px 6px 0 0 var(--red),
    6px 9px 0 0 rgba(6, 120, 191, 0.85);
  margin-bottom: 11px;
}
.full {
  width: 100%;
}
.sm {
  width: 60px;
}
